<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sapphires_ElvUI_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Sapphires_ElvUI_Manager.My.MySettings>
            <setting name="IsDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathToWoW" serializeAs="String">
                <value />
            </setting>
            <setting name="ExceptionData" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToPublic" serializeAs="String">
                <value>https://www.tukui.org/download.php?ui=elvui</value>
            </setting>
            <setting name="PathToDev" serializeAs="String">
                <value>https://git.tukui.org/elvui/elvui/tree/development/ElvUI</value>
            </setting>
            <setting name="IsElvUIInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ElvUIVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="IsElvUIUpdateAvailable" serializeAs="String">
                <value>False</value>
            </setting>
        </Sapphires_ElvUI_Manager.My.MySettings>
    </userSettings>
</configuration>